
foo {
background : #17181C;
foreground  : #F3FAFC;
color0 : #3D3F43;
color1 : #445059;
color2 : #376489;
color3 : #376489;
color4 : #6B7880;
color5 : #A6B5B9;
color6 : #A7B5B9;
color7 : #E6F0F3;
color8 : #A1A8AA;
color9 : #5A6A77;
color10 : #4986B6;
color11 : #4986B6;
color12 : #8FA0AA;
color13 : #DEF1F7;
color14 : #DEF1F7;
color15 : #E6F0F3;
}