cava/themes/solarized_dark
cava/themes/tricolor
fastfetch/fech_logo.txt
hypr/scripts/.current_wallpaper_path
hypr/wallust/wallust-hyprland.conf
rofi/change_wallpaper/.current_wallpaper_path
rofi/wallust/colors-rofi.rasi
sddm/themes/mao-theme/.current_wallpaper.jpg
sddm/themes/mao-theme/wallust/colors-sddm.conf
waybar/wallust/colors-waybar.css